@using Web.Areas.Admin.Emulation
@inject EmulationAppSettings EmulationAppSettings
@inject Emulator Emulator
@model List<Web.Areas.Admin.Models.Default.Emulator.SensorEmulatorListItemViewModel>
@{
    ViewBag.Title = "Датчики-эмуляторы";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "page-emulator-sensors";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>
                                    Локация
                                </th>
                                <th>
                                    Ключ API
                                </th>
                                <th>
                                    Тип
                                </th>
                                <th>
                                    Состояние
                                </th>
                                <th>
                                    Действия
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var sensor in Model)
                            {
                                <tr>
                                    <td>
                                        Lat: @sensor.Latitude,
                                        <br />
                                        Long: @sensor.Longitude
                                    </td>
                                    <td>
                                        @sensor.ApiKey
                                    </td>
                                    <td>
                                        @sensor.Type
                                    </td>
                                    <td>
                                        @(sensor.IsOn ? "Включен" : "Отключен")
                                    </td>
                                    <td>
                                        <a class="dropdown-toggle" href="javascript:void(0);" id="edit_button_@sensor.Guid" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <p>
                                                <span class="d-lg-none d-md-block">Дейсвтия</span>
                                            </p>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right sensor-actions" aria-labelledby="edit_button_@sensor.Guid">

                                            @using (Html.BeginForm($"{(!sensor.IsOn ? "PowerOn" : "PowerOff")}", "Emulator", new { area = "Admin", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, null, new { @class = "form-horizontal", role = "form" }))
                                            {
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                @Html.Hidden(nameof(sensor.Guid), sensor.Guid)
                                                <button class="dropdown-item">@(sensor.IsOn ? "Выключить" : "Включить")</button>
                                            }
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            @if (EmulationAppSettings.Enabled)
            {
                <div class="card-footer">
                    @using (Html.BeginForm($"{(Emulator.IsEmulationStarted ? "Stop" : "Start")}Emulation", "Emulator", new { area = "Admin", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, null, new { @class = "form-horizontal", role = "form" }))
                    {
                        <button class="btn btn-default">@((Emulator.IsEmulationStarted ? "Выключить" : "Включить")) эмуляцию</button>
                    }
                </div>
            }
        </div>

    </div>
</div>
