@using Web.Areas.Admin.Models.Sensors
@model CreateStaticSensorModel
@{
    ViewBag.Title = "Регистрация статического датчика";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "page-static-sensor-create";
}
<div class="row">
    <div class="offset-md-4 col-md-4 offset-sm-2 col-sm-6">
        <div class="card">
            <div class="card-body">
                <section id="loginForm">
                    @using (Html.BeginForm("CreateStaticSensor", "Sensors", new { area = "Admin", ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, null, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.IPAddress)
                            @Html.TextBoxFor(m => m.IPAddress, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.IPAddress, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Latitude)
                            @Html.TextBoxFor(m => m.Latitude, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Latitude, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Longitude)
                            @Html.TextBoxFor(m => m.Longitude, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Longitude, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Зарегистрировать датчик" class="btn btn-success" />
                            </div>
                        </div>
                    }
                </section>
            </div>
        </div>
    </div>
</div>